<div class="container-fluid page">
  <div class="d-flex page_box p-3 mt-2">
  Update Single Row/Cell Data
  </div>
  <div class="page_content shadow p-3 position-relative">
    <div class="page_content-data position-absolute "
    style="width: 90%; height: 80%;">

      <div style="margin-bottom: 1rem;">
        <button mat-raised-button color="primary"(click)="setPriceOnToyota()">Set Price on Toyota</button>
        <button mat-raised-button color="warn" (click)="setDataOnFord()">Set Data on Ford</button>
        <button mat-raised-button  (click)="updateSort()" style="margin-left: 15px">Sort</button>
        <button mat-raised-button  (click)="updateFilter()">Filter</button>
      </div>
      <ag-grid-angular
        style="width: 100%; height: 100%;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [animateRows]="true"
        [getRowId]="getRowId"
        (gridReady)="onGridReady($event)"
      ></ag-grid-angular>



    </div>
  </div>
  </div>
